#root {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url('./background/starry.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#weather-container {
  margin: 20px auto;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  max-width: 900px;
}

#forecast-container {
  max-width: 800px;
}

#error-container {
  margin-top: 30px;
}

@media (max-width: 400px) {
  #weather-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  #forecast-container {
    padding: 5px;
  }
}